    <script type="text/javascript">
    $(document).ready(function() {

        $("button").click(function() {
            var tr = $(this).find('tr');
            var $name = tr.find('.name_list');
            var $price = tr.find($('td[name="price"]'));
            var $date = tr.find($('td[name="date"]'));
            var $count = tr.find($('td[name="searched_count"]'));
            var button = $(this);
            waiting(button);

            $.getJSON('/json?item='+ $name.text() , function(product){
            if (product.a_price == null){
                product.a_price = 'No product';
            }
            if (product.n_price == null){
                product.n_price = 'No product';
            }
            if (product.a_price < product.n_price){
                var $win = product.a_price
            }
            else{
                var $win = product.n_price
            }
            $price.text($win);
            $date.text(product.date);
            $count.text(product.popularity);

            }).done(function() { done(button); })
            .fail(function() { alert('Refreshing failed..'); });

            function waiting(obj){
            $(obj).hide();
            $(obj).parent().addClass('spinner');
            }

            function done(obj){
            $(obj).show()
            $(obj).parent().removeClass('spinner');
            }

        });
    });
    </script>




<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var btn_search = $('.search input');
    btn_search.focus(function() {
        $(this).attr('value','');
    });
});



    $(document).ready(function() {

        $('.more > button').click(function() {
            var tr = $(this).find('tr[name="history"]');
            var $name = tr.find('.name_list');
            var $a_price = tr.find($('td[name="a_price"]'));
            var $n_price = tr.find($('td[name="n_price"]'));
            var $date = tr.find($('td[name="date"]'));
            var $count = tr.find($('td[name="searched_count"]'));
            var button = $(this);
            waiting(button);

            $.getJSON('/json?item='+ $name.text() , function(data){
            if (data.a_price == null){
            data.a_price = 0.0;
            }
            if (data.n_price == null){
            data.n_price = 0.0;
            }
            $a_price.text(data.a_price);
            $n_price.text(data.n_price);
            $date.text(data.date);
            $count.text(data.popularity);

            }).done(function() { done(button); })
            .fail(function() { alert('Refreshing failed..'); });

            function waiting(obj){
            $(obj).hide();
            $(obj).parent().addClass('spinner');
            }

            function done(obj){
            $(obj).show()
            $(obj).parent().removeClass('spinner');
            }

        });
    });